:root {
    --text: white;
    --heading: #00cbb6;
    --sub: #ef8ef0; 
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #2f3d57;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    color: var(--text);
    font-weight: 700;
}

h2, h3, h4 {
    color: var(--heading);
}

h1 {
    font-size: 75px;
}

.h1subhead {
    font-size: 35px;
    font-weight: 400;
    color: var(--heading);
    padding-bottom:10px;
    border-bottom: 3px solid var(--sub);
}

p {
    color: var(--text);
    font-weight: 300;
}

section {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#avatar {
    width: 50%;
}

#right {
    width:50%;
    padding-top: 100px;

}

#left {
    width:50%
}


@media screen and (max-width: 1200px) {
    main {
        width:95%
    }
}
